.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 10px solid blue;
  padding: 15px;
}

.header{
  padding: 25px;
}

h1 { 
    color: maroon;
}

h3 { 
  color: slategray;
}

body  {
  padding: 10px;
  background-color: pink;
}